<div class="panel-heading">
  <h3>
    <% if @cart.contains? "#{venue.id}" %>
      <%= link_to content_tag(:i, nil, class: "fa fa-check-square fa-lg btn-success"), deselect_venue_path(item_id: venue.id), method: :post %>
    <% else %>
      <%= link_to content_tag(:i, nil, class: "fa fa-check-square fa-lg btn-default"), select_venue_path(item_id: venue.id), method: :post %>
    <% end %>
    &nbsp;<%= venue.name %>
  </h3>
</div>
