<div class="panel-heading">
  <h3>
    <% if @cart.contains? "#{place.id}" %>
      <%= link_to content_tag(:i, nil, class: "fa fa-check-square fa-lg btn-success"), deselect_place_path(item_id: place.id), method: :post %>
    <% else %>
      <%= link_to content_tag(:i, nil, class: "fa fa-check-square fa-lg btn-default"), select_place_path(item_id: place.id), method: :post %>
    <% end %>
    &nbsp;<%= place.name %>
  </h3>
</div>
