<!-- Footer -->
<footer>
    <div id="contact" class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Headquarters</strong>
                </h4>
                <p>1510 Blake St<br>Denver, CO 80202</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> 303.731.3117</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:bhargavisatpathy@gmail.com">bhargavisatpathy@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Rendevu 2015</p>
            </div>
        </div>
    </div>
</footer>
