<% if params[:controller] == "plans" %>
  <div id="plan-header">
    <div id="heading-name">
      <h1 class="heading-name">My Plans</h1>
    </div>
  </div>
<% elsif params[:controller] == "friends" %>
  <div id="friends-header">
    <div id="heading-name">
      <h1 class="heading-name">My Friends</h1>
    </div>
  </div>
<% elsif params[:controller] == "venues" && params[:action] == "index"%>
  <div id="venue-header">
    <div id="heading-name">
      <h1 class="heading-name">Venues</h1>
    </div>
  </div>
  <br><br>
<% end %>
