<% @venues.each do |venue| %>
<section>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <%= render partial: "shared/cart_items", locals: { venue: venue } %>
      <div class="panel-body"><img src="/assets/restaurant.jpg" class="img-responsive"></div>
      <div class="panel-footer"><%= venue.location['formattedAddress'][0..-2].join(' ')%></div>
    </div>
  </div>
</section>
<% end %>
