<% @venues.each do |venue| %>
<section>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <%= render partial: "shared/cart_items", locals: { venue: venue } %>
      <div class="panel-body">
        <% if venue.photo %>
          <%= image_tag "#{venue.photo['prefix']}500x500#{venue.photo['suffix']}", class: "img-responsive" %></div>
        <% else %>
          <%= image_tag "restaurant.jpg", class: "img-responsive" %>
        <% end %>
        <%= venue.address %>
      </div>
    </div>
  </div>
</section>
<% end %>
