// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-name {
  font-size: 38px;
  color: white;
  font-weight: 200;
  margin-left: 15px;
}

.place-by-category {
  margin-top: 100px;
}

.nav.navbar-nav {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  margin-left: 85%;
}
